/* Intro Section Styles */
.introSection {
  width: 100%;
  min-height: 100dvh;
  background-color: var(--color-primary);
  position: fixed;
  overflow: hidden;
  transform: translateY(0);
  will-change: transform;
  z-index: 10001;
}

.imageContainer {
  position: relative;
  width: 100%;
  height: 100dvh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.image1 {
  z-index: 20;
  width: 45vw;
  height: auto;
}

.image2 {
  z-index: 10;
  width: 43vw;
  height: auto;
  padding-bottom: 5rem;
}

.overlay {
  position: absolute;
  z-index: 30;
  width: 45vw;
  height: 100vh;
  background-color: var(--color-primary);
  opacity: 1;
  pointer-events: none;
}

@media (max-width: 1080px) {
  .image1,
  .overlay {
    width: 60vw;
  }

  .image2 {
    width: 58vw;
    padding-bottom: 4rem;
  }
}

@media (max-width: 768px) {
  .image1,
  .overlay {
    width: 70vw;
  }

  .image2 {
    width: 68vw;
    padding-bottom: 3rem;
  }
}

@media (max-width: 480px) {
  .image1,
  .overlay {
    width: 80vw;
  }

  .image2 {
    width: 78vw;
    padding-bottom: 2rem;
  }
}
