/* 메뉴 컨테이너 */
.menuContainer {
  position: fixed;
  bottom: 8rem;
  right: 2rem;
  width: 50px;
  height: 50px;
  background: rgba(252, 242, 218, 0.75);
  backdrop-filter: blur(5px);
  border-radius: 12px;
  z-index: 1000;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);
}

.menuContainer button {
  color: black !important;
}

.menuContainer.hidden {
  bottom: 2.2rem;
  pointer-events: none;
}

/* 펼쳐진 상태 */
.menuContainer.expanded {
  width: 200px;
  height: 210px;
}
/* + 버튼 */
.toggleButton {
  position: absolute;
  top: auto;
  left: auto;
  bottom: 12.5px;
  right: 12.5px;
  width: 25px;
  height: 25px;
  background: none;
  border: none;
  cursor: pointer;
  transition: all 0.5s cubic-bezier(0.4, 0, 0.2, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

/* 펼쳐진 상태에서 + 버튼 위치 (우하단으로 이동) */
.toggleButton.rotated {
  transform: rotate(45deg);
}

.plusIcon {
  width: 30px;
  height: 30px;
  transition: transform 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

/* 메뉴 아이템들 */
.menuItems {
  padding: 25px 20px 50px 20px;
  display: flex;
  flex-direction: column;
  gap: 17px;
  height: 100%;
  box-sizing: border-box;
  width: 190px;
  transition: all 0.5s ease;
  opacity: 0;
}

.menuItem {
  background: none;
  border: none;
  font-size: 15px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.5s ease;
  text-align: left;
  font-family: "Pretendard";
  letter-spacing: -0.01em;
}

.menuContainer.expanded .menuItems {
  opacity: 1;
}
